BODY{
    font-family: 'Times New Roman', Times, serif;
    font-size : 14pt;
    color: #fafafa;
    background: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)),url(../Photos/Backgroung.png);
}

h1  {font-size: 14pt/14pt; font-weight: bold; color: #ffffff; border: 5px outset red;display: inline-block;padding-left: 5px;padding-right: 5px;padding-bottom: 5px;}
h2  {font-size: 14pt/14pt; font-weight: bold; color: #bbb7b7;}
h3  {font-size: 14pt/14pt; font-weight: bold; color: #d0caca;}
footer {text-align: right;}
.gras{ font-weight: bold;}
.italique{font-style: italic;}
.souligne{text-decoration: underline;}

a:link {color: #e19909; text-decoration: underline;}
a:visited {color: #d10909; text-decoration:underline;}
